<template name="components_rentalContractInfo">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Rental Contract: {{contractAddress}}
        </div>
        <div class="panel-body">
            {{#with TemplateVar.get 'state'}}

                <b>Created:</b> {{TemplateVar.get 'contractCreated'}}<br/><br/>
                <b>Landlord:</b> {{TemplateVar.get 'landlord'}}<br/><br/>
                <b>Tenant:</b> {{TemplateVar.get 'tenant'}}<br/><br/>
                <b>State:</b> {{TemplateVar.get 'contractState'}}<br/><br/>
                <b>Rent:</b> {{TemplateVar.get 'rent'}} ETH<br/><br/>
                <b>House:</b> {{TemplateVar.get 'house'}}<br/><br/><br/>

                {{#if isCreated}}
                    <button type="button" class="btn btn-default btn-confirm">
                        Confirm agreement
                    </button>
                {{/if}}

                {{#if isConfirming}}
                    <div class="alert alert-info">
                        Your rental contract is being confirmed...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}

            {{/with}}
        </div>
    </div>
</template>
