<template name="components_rentalContract">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            {{i18n 'dapp.components.rentalContract.header'}}
        </div>
        <div class="panel-body">
            {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        There was an error deploying your contract.
                        The error was: "{{error}}".
                    </div>
                {{/if}}

                {{#if isMining}}
                    <div class="alert alert-info">
                        Your contract is being mined...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}

                {{#if isMined}}
                    <div class="alert alert-success">
                        Your RentalContract has been mined!
                    </div>

                    <hr />

                    <label>
                        Your contract has been deployed to this address:
                    </label>

                    <input type="text" class="form-control"
                           value="{{address}}" placeholder="Address" />

                    <br />

                    <pre class="well well-info">{{source}}</pre>

                    <hr />

                    <label>
                        Type values here for use in contract:
                    </label>

                    <br />

                    <p>
                        Rental Result:
                        <span>{{TemplateVar.get 'rentalResult'}}</span>
                    </p>
                {{/if}}

                {{#if isInactive}}
                    <p class="well well-info">
                        {{i18n 'dapp.components.rentalContract.description'}}
                    </p>

            		<input type="text"
                            id="house"
                            class="form-control"
                            placeholder="{{i18n 'dapp.components.rentalContract.placeholderHouse'}}" />
                    <input type="number"
                            id="rent"
                            class="form-control"
                            placeholder="{{i18n 'dapp.components.rentalContract.placeholderRent'}}" />

                    <button type="button" class="btn btn-default btn-deploy">
                        {{i18n 'dapp.components.rentalContract.create'}}
                    </button>
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>
