<template name="views_view3_contract">
    <div class="row-fluid">
        <div class="col-md-6">
            {{> components_rentalContractInfo}}
        </div>
        <div class="col-md-6">
        </div>
    </div>
</template>