<template name="layout_footer">
   <footer class="footernav">
        <ul class="list-inline">
            <li>
                <a href="{{ pathFor 'testnet' }}">
                    {{{i18n 'dapp.app.buttons.view1'}}}
                </a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="{{ pathFor 'contract' }}">
                    {{{i18n 'dapp.app.buttons.view3'}}}
                </a>
            </li>
        </ul>
       
        <p class="copyright text-muted small">
            {{{i18n 'dapp.app.copyright'}}}
        </p>
    </footer>
</template>
