<template name="layout_header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
                    {{{i18n 'dapp.app.title'}}}
                </a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
                    <a href="{{ pathFor 'testnet' }}">
                        {{{i18n 'dapp.app.buttons.view1'}}}
                    </a>
                </li>
                <li>
                    <a href="{{ pathFor 'contract' }}">
                        {{{i18n 'dapp.app.buttons.view3'}}}
                    </a>
                </li>
			</ul>
		</div>
	</nav>
</template>
